/************** Layout ************/

    /* aciklama satiri */

/************** Layout ************/
body
{
    background-color: rgb(35, 44, 70);
    font-family: 'Roboto', sans-serif;
    
}
article{
    color: rgb(0, 0, 0);
}
.text-red{
    color: red;
   
}

.fs-30{
    font-size: 30px;
}
.fs-medium{
    text-align: center;
}
#first-id{
    text-align: center;
    font-size: 40px;
}
p{
    font-size: 20px;
}
h1{
    font-weight: 40px;
    color: brown;
}
h2{
    font-size: 30px;
}